<h1>Listing observations</h1>

<table>
  <tr>
    <th>Convention delegate</th>
    <th>User</th>
    <th>Ip address</th>
    <th>User agent</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @observations.each do |observation| %>
  <tr>
    <td><%= observation.convention_delegate %></td>
    <td><%= observation.user %></td>
    <td><%= observation.ip_address %></td>
    <td><%= observation.user_agent %></td>
    <td><%= observation.created %></td>
    <td><%= link_to 'Show', observation %></td>
    <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
    <td><%= link_to 'Destroy', observation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Observation', new_observation_path %>
