<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @convention_delegate.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @convention_delegate.last_name %>
</p>

<p>
  <b>Riding:</b>
  <%= @convention_delegate.riding %>
</p>

<p>
  <b>Score:</b>
  <%= @convention_delegate.score %>
</p>


<%= link_to 'Edit', edit_convention_delegate_path(@convention_delegate) %> |
<%= link_to 'Back', convention_delegates_path %>
