<%= form_tag(:controller => 'mobile', 
             :convention_delegate => @convention_delegate,
             :action => 'observe') %>  
    <%
        puts @convention_delegate.first_name
        puts @convention_delegate.last_name
        puts @convention_delegate.riding
    %>
  <div class="field">
    <fieldset data-role="controlgroup">
        <legend>Support Level</legend>

        <%= f.label :value %><br />
        <%= f.radio_button :value, 1 %>1
        <%= f.radio_button :value, 2 %>2
        <%= f.radio_button :value, 3 %>3
        <%= f.radio_button :value, 4 %>4
        <%= f.radio_button :value, 5 %>5
    </fieldset>
  </div>
<% end %>